*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    border: 1px solid; position: fixed; top: 0; width: 100%; padding: 10px 220px 20px;
}
#web-logo{
    width: 40px; height: auto; position: relative; top: 10px;
}
#web-name{
    display: inline-block; margin-left: 10px; font-size: 28px; color: blue;
}
.top-nav{
    list-style-type: none; margin-top: -40px; display: flex; flex-direction: row; justify-content: flex-end;
}
.top-nav li a:link, .top-nav li a:visited{
    text-decoration: none; padding: 10px 20px; font-size: 22px; border-radius: 7px; color: black;
}
.top-nav li a:hover{
    background-color: skyblue;
}
#buy-now{
    position: fixed; top: 25px; right: 10px; color: blue; padding: 10px 20px; font-size: 16px; border-radius: 5px;
}
#buy-now:hover{
    background-color: skyblue;
}

section{
    margin-top: 300px;
}
